snippet minitest "minitest spec file" i
require 'test_helper'

class ${1:ClassName} < ActiveSupport::TestCase
  $0
end
endsnippet

snippet template_test "Rspec.describe Class, type: :model do ... end"
require 'rails_helper'

RSpec.describe ${1:Class}, type: :${2:model} do
  $0
end
endsnippet
